{% extends 'base.html' %}

{% block title %}
Aspekt creation
{% endblock title %}

{% block content %}
    <h1>Tvoření aspektu</h1>
    <hr>
    <form action="{{ url_for('aspekt_create') }}" method="POST">
      {{form.hidden_tag()}}
      {{form.name.label(class="col-form-label-lg")}}
      {{form.name(class="form-control",placeholder="Jméno aspektu")}}

      {{form.effect.label(class="col-form-label-lg")}}
      {{form.effect(class="form-control",placeholder="Efekt aspektu")}}

      {{form.frame.label(class="col-form-label-lg")}}
      {% for subfield in form.frame %}

      <div class="form-check">
        {{subfield(class="form-check-input")}}
        {{subfield.label(class="form-check-label")}}
      </div>
      {% endfor %}

      <hr>

      {{form.fluff.label(class="col-form-label-lg")}}
      {{form.fluff(class="form-control",placeholder="Fluff/lore k aspektu")}}

      {{form.activation.label(class="col-form-label-lg")}}
      {{form.activation(class="form-control",placeholder="aktivace aspektu")}}

      {{form.inactivation.label(class="col-form-label-lg")}}
      {{form.inactivation(class="form-control",placeholder="deaktivace aspektu")}}

      {{form.additional_effect.label(class="col-form-label-lg")}}
      {{form.additional_effect(class="form-control",placeholder="další efekty aspektu")}}    
      <br>

      {{form.submit(class="btn btn-lg btn-block btn-primary")}}
    </form>
{% endblock %}
