{% extends 'base.html' %}

{% block title %}
Aspekt creation
{% endblock title %}

{% block content %}
    <h1>Tvoření kartičky aspektu</h1>
    <hr>
    <form action="{{ url_for('aspekt_create') }}" method="POST">
      {{form.hidden_tag()}}
      {{form.name.label(class="col-form-label-lg")}}*
      {{form.name(class="form-control",placeholder="fialová kletba")}}

      {{form.effect.label(class="col-form-label-lg")}}*
      {{form.effect(class="form-control", rows=4, placeholder="Jsi proklet fialovou kletbou, někdy se ti stane něco nepěkného... možná")}}

      {{form.frame.label(class="col-form-label-lg")}}*

      {% for subfield in form.frame %}
      <div class="form-check">
        {{subfield(class="form-check-input")}}
        {{subfield.label(class="form-check-label")}}
      </div>
      {% endfor %}

      <hr>
      <p><small>položky označené hvězdičkou * jsou povinné</small></p>
      <br>
      {{form.fluff.label(class="col-form-label-lg")}}
      {{form.fluff(class="form-control", rows=4, placeholder="Tato kletba se objevuje maximálně jednou za 20 let")}}

      {{form.activation.label(class="col-form-label-lg")}}
      {{form.activation(class="form-control", rows=4, placeholder="Kletba je aktivována pokaždé když si na ní vzpomeneš")}}

      {{form.inactivation.label(class="col-form-label-lg")}}
      {{form.inactivation(class="form-control", rows=4,placeholder="Fialové kletby se nedá zbavit.. nikdy, nijak")}}

      {{form.additional_effect.label(class="col-form-label-lg")}}

      {% for subfield in form.additional_effect %}
        {{subfield(class="form-control",  placeholder="efekt")}}
        <br>
      {% endfor %}
      <br>
      
      <input class ="btn btn-lg btn-primary m-2" type ="submit" name="action" value="Vytvořit a stáhnout">
      <input class ="btn btn-lg btn-secondary m-2" type ="submit" name="action" value="Náhled">
    </form>
    {% if img_source %}

    <img src="{{ url_for('static', filename='created_cards/' + img_source) }}" alt="{{ url_for('static', filename='created_cards/' + img_source) }}" class = "center p-5"></img>
    {% endif %}

    {% endblock %}
