
body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}
nav {
    background-color: #00ADB5;


}


.header-block {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.card-input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardmaker-body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

